---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from "astro:content";
import Prose from "../../components/Prose.astro";
import DateDiff from '../../components/DateDiff.astro';

let posts = await getCollection("problems");
if (import.meta.env.PROD) {
  posts = posts.filter(e => !e.data.wip);
}
posts.sort((a, b) => {
  const dateA = a.data.publishAt;
  const dateB = b.data.publishAt;
  return dateB.getTime() - dateA.getTime();
});
---

<Layout title="Problems">
  <Prose>
    <h1 class="tw:text-lg">問題一覧</h1>
    <p>
      問題に取り組んだ際のログを残している記事です。<br>
      解説調のときもあれば変に散らかっているときもあります。
    </p>
    <p>
      提出からそのままコードを抜き出して貼りつけているので<br>
      コード内はマクロばっかりです（すみません）。雰囲気で読んでください。
    </p>
    <ul>
      {posts.map(post => (
        <li>
          <div class="tw:flex tw:flex-row tw:gap-3 tw:items-end">
            <a href={`/problems/${post.id}`}>
              {post.data.title}
            </a>
            <span class="tw:text-xs">投稿：<DateDiff date={post.data.publishAt}/></span>
            {post.data.updateAt && <span class="tw:text-xs">更新：<DateDiff date={post.data.updateAt}/></span>}
            {post.data.wip && <span class="tw:text-xs tw:opacity-40">WIP</span>}
          </div>
        </li>
      ))}
    </ul>
  </Prose>
</Layout>
