<div class="
		tw:prose 
		tw:prose-li:leading-5.5
		tw:prose-h2:text-xl 
		tw:prose-h3:text-base
		tw:prose-a:font-normal
		tw:prose-a:text-[#903]
		tw:prose-strong:text-inherit
		tw:w-full tw:h-full"
>
  <slot/>
</div>