<div class="tw:bg-p-30 tw:w-screen tw:h-screen tw:flex tw:flex-row">
	<header class="tw:w-60 tw:h-full">
    <slot name="header"/>
  </header>
	<main class="tw:overflow-y-scroll tw:grow">
    <slot name="main"/>
  </main>
</div>