---
import Prose from "../components/Prose.astro"
---

<div>
  <Prose>
    <div class="tw:flex tw:flex-col tw:prose-hr:my-3 tw:pr-5">
      <a href="/">（◞‸◟）</a>
      <a href="/contests">コンテスト一覧</a>
      <a href="/problems">問題一覧</a>
      <hr>
      <a href="https://atcoder.jp/users/Malb7mm" target="_blank">atcoder.jp/users/Malb7mm</a>
    </div>
  </Prose>
</div>