---
import Prose from "../components/Prose.astro"
---

<div>
  <Prose>
    <nav class="tw:flex tw:flex-col tw:prose-hr:my-3 tw:p-5">
      <a href="/">（◞‸◟）</a>
      <a href="/contests">コンテスト一覧</a>
      <a href="/problems">問題一覧</a>
      <a href="/articles">記事一覧</a>
      <hr>
      <a href="https://atcoder.jp/users/Malb7mm" target="_blank">atcoder.jp/users/Malb7mm</a>
      <a href="https://github.com/malb7mm/kyopro_blog" target="_blank">GitHub</a>
    </nav>
  </Prose>
</div>